@import './colours.module';

.btn {
    background-color: $lavendar;
    max-width:100px;
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.05s ease-in;
    transition: color 0.1s ease-in;
    &:hover {
        background-color: $grey;
    }
}