@import './colours.module';


.container {
    display: flex;
    flex-direction: column;
    padding-inline: 100px;
    padding-bottom: 80px;
    text-align: center;
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            padding: 15px;
            margin: 5px;
            flex: 1;
            cursor: pointer;
            background-color: $light-blue;
            color: $white;
            border-radius: 4px;
            max-width: 400px;
            transition: background-color 0.05s ease-in;
            &:hover {
                background-color: $black;
            }
        }
    }
  
}