
@import './colours.module';

.container {
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: left;
    padding-right: 900px;
    padding-left: 300px;
    align-items: center;
    min-height: 150px;
    h2{
        font-size: 21px;
        margin-right: 50px;;
    }
    p {
        font-size: 14px;
    }
    
}

.currentlySelected {
    margin-right: 35px;
}

h2, .infoContainer {
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
}

@media (max-width: 1600px) {
    .container {
        padding-right: 300px;
    }
}

@media (max-width: 1100px) {
    .container {
        padding-right: 100px;
        padding-left: 100px;

    }
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        padding-block: 20px;
    }
    .currentlySelected {
        display: none;
    }
    
}