@import './colours.module';

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: $blue;
    input {
        border: none;
        padding: 10px;
        margin: 0;
        height: 50px;
        width:30%;
        font-size: 22px;
        &:focus {
            outline: none;
          }
    }
    
    
}

.iconContainer {
    background-color: $white;
    height: 50px;
    display: flex;
    align-items: center;
}

.icon {
    color: $blue;
    height: 20px;
    padding: 10px;
}