@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.6;
  background-color: #f5f5f5; 
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  display: flex;
  list-style-type: none; 
}

button {
  border: none;
  padding: 0;
  background: none;
}